body {
    text-align: center;
    background-color: #e7f0fa;
}

.container_16 {
    display: block;
    text-align: left;
}

.HeaderTop {
    display: block;
}

.branding {
    background-image: url('../images/portal_logo.png');
    background-repeat: no-repeat;
    height: 69px;
}

.branding-x2 {
    background-image: url('../images/portal_logo2.png');
    background-repeat: no-repeat;
    height: 70px;
}

.eisk-info {
    color: #14283C;
    font-size: 12px;
    line-height: normal;
    /* border-right: 1px solid #D6E0E4;*/
}

    .eisk-info a {
        color: #2489b0;
        text-decoration: none;
    }

        .eisk-info a:hover {
            color: #1e7495;
            text-decoration: none;
        }

.HeaderGrad {
    background-image: url('../images/eisk-header-grad.png');
    height: 96px;
    width: 100%;
}

.Header {
    padding-top: 20px;
}

.HeadingMain h1 {
    font-size: 5em;
}

.HeadingMain h2 {
    font-size: 3em;
    margin-top: -1em;
}

.UtilityMenu {
    color: #90B9D2;
    text-align: right;
}

    .UtilityMenu a, .UtilityMenu a:visited {
        color: #fff;
        text-decoration: none;
    }

        .UtilityMenu a:hover, .UtilityMenu a:active {
            color: #e3eff6;
        }


.ContentMain {
    background-color: #fff;
    border-bottom: solid 1px #cdd5de;
    text-align: left;
    padding-bottom: 30px;
}

.ContentArea {
}

    .ContentArea a {
        /*color: #4D8FCF;*/
    }

        .ContentArea a:hover {
            color: #fff; /*417BAF*/
        }

    .ContentArea zul {
        list-style: square inside none;
    }

.title-regular, .title-regular-2, .title-regular-3 {
    color: #2D5883;
    font-weight: normal;
    text-transform: uppercase;
}

.title-regular {
    border-bottom: 1px solid #D6E7F1;
}

.title-regular-2 {
    border: none;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.title-regular-3 {
    border: none;
    font-size: 1.25em;
    margin-bottom: 5px;
}

. .round-box {
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.FooterMain {
    text-align: left;
    padding: 20px 0;
}

.grid-viewer {
    overflow: auto;
    margin: 0;
}

.button-right {
    float: right;
    position: relative;
    top: 10px !important;
}

.ui-datepicker-trigger {
    left: 5px;
    position: relative;
    top: 6px;
    cursor: pointer;
}

.ui-datepicker-div select {
    padding: 0;
}

.align-right {
    text-align: right;
}

.required-field-indicator {
    color: #CF0C2F;
    vertical-align: sub;
}






/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    width: 100%;
    margin: 0;
    padding: 0;
}

    .flexslider .slides > li {
        display: none;
        -webkit-backface-visibility: hidden;
    }
    /* Hide the slides before the JS is loaded. Avoids image jumping */
    .flexslider .slides img {
        max-width: 100%;
        display: block;
    }

.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}


/* FlexSlider Default Theme
*********************************/
.flexslider {
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    zoom: 1;
}

    .flexslider .slides {
        zoom: 1;
    }

        .flexslider .slides > li {
            position: relative;
        }
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {
    zoom: 1;
    position: relative;
}

/* Caption style */
/* IE rgba() hack */
.flex-caption {
    background: none;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
    zoom: 1;
}

.flex-caption {
    width: 96%;
    padding: 2%;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}

/* Direction Nav */
.flex-direction-nav {
    height: 0;
}

    .flex-direction-nav li a {
        width: 52px;
        height: 52px;
        margin: -13px 0 0;
        display: block;
        background: url(../images/bg_direction_nav.png) no-repeat;
        position: absolute;
        top: 50%;
        cursor: pointer;
        text-indent: -999em;
    }

    .flex-direction-nav li .next {
        background-position: -52px 0;
        right: -21px;
    }

    .flex-direction-nav li .prev {
        left: -20px;
    }

    .flex-direction-nav li .disabled {
        opacity: .3;
        filter: alpha(opacity=30);
        cursor: default;
    }

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
}

    .flex-control-nav li {
        margin: 0 0 0 5px;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

        .flex-control-nav li:first-child {
            margin: 0;
        }

        .flex-control-nav li a {
            width: 13px;
            height: 13px;
            display: block;
            background: url(../images/bg_control_nav.png) no-repeat;
            cursor: pointer;
            text-indent: -999em;
        }

            .flex-control-nav li a:hover {
                background-position: 0 -13px;
            }

            .flex-control-nav li a.active {
                background-position: 0 -26px;
                cursor: default;
            }




/* My message bulle */

.errorbulle {
    width: 20px;
    height: 20px;
    border-radius: 24px;
    font-size: 13px;
    color: #ff0000;
    line-height: 20px;
    text-align: center;
    background: #FECBCB;
    margin-left: 60px;
    margin-top: -70px
}

/*

MESSAGE BOX

*/


.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #497FAF;
    background-color: #D2EEFB;
    background-image: url('../images/info.png');
}

.success {
    color: #79C429;
    background-color: #ECFCD1;
    background-image: url('../images/success.png');
}

.warning {
    color: #E48B04;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}

.error {
    color: #FF777F;
    background-color: #FECBCB;
    background-image: url('../images/error.png');
}

.container {
}

.info p, .success p, .warning p, .error p {
    padding: 0px 50px;
}

.info a, .success a, .warning a, .error a {
    float: right;
    padding: 10px;
    cursor: pointer;
}

.container img {
    border: none;
}

/* validation */
.validation {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}

    .validation ul {
        padding: 0px 30px;
    }


/* **** Home page in portal thumbnails boxes */

.thumbnail {
    float: left;
    width: 90px;
    /*border: 1px solid #999;*/
    margin: 0 15px 15px 0;
    padding: 5px;
}

.clearboth {
    clear: both;
}



/* personal details caption and item style updated */

.item_key {
    border-top: 1px solid #93C9F3;
    font-size: 90%;
    font-weight: Normal;
    padding: 5px;
    color: #000;
    /* background-color: #fefefe;*/
    /*font-family: Calibri;*/
    /*width: 200px;*/
}

.item_value {
    border-top: 1px solid #AED0EA;
    font-size: 90%;
    font-weight: bold;
    padding: 5px;
    color: #000;
    /*width: 200px;*/
    /*  background-color: #FFFBE0;*/
    /*font-family: Calibri;*/
}




/* ajax accordion*/

.accordionHeader {
    border: 1px solid #C1CDCD;
    background-color: #b7e2ff;
    font-family: Trebuchet MS,Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    /*width: 200px;*/
}

    .accordionHeader a:link, .accordionHeaderSelected a:link, .accordionContent a:link {
        background: none;
        text-decoration: none;
        color: Black;
    }

    .accordionHeader a:visited, .accordionHeaderSelected a:visited, .accordionContent a:visited {
        background: none;
        text-decoration: none;
        color: Black;
    }

    .accordionHeader a:hover, .accordionHeaderSelected a:hover, .accordionContent a:hover {
        background: none;
        text-decoration: none;
        color: Black;
    }

    .accordionHeader a:active, .accordionHeaderSelected a:active, .accordionContent a:active {
        background: none;
        text-decoration: none;
        color: Black;
    }

.accordionHeaderSelected {
    border: 1px solid #C1CDCD;
    background-color: #d2edff;
    color: Black;
    font-family: Trebuchet MS,Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    /*width: 200px;*/
}

.accordionContent {
    background-color: #FFFFFF;
    border: 1px solid #d2edff;
    border-top: none;
    padding: 5px 5px 5px 5px;
    /*width: 200px;*/
}

.nestedAccordionHeader {
    border: 1px solid #A2B5CD;
    background-color: #CAE1FF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    width: 500;
}

.nestedAccordionHeaderSelected {
    border: 1px solid #A2B5CD;
    background-color: #CAE1FF;
    color: Black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    width: 500;
}

.nestedAccordionContent {
    background-color: #FFFFFF;
    border: 1px solid #A2B5CD;
    border-top: none;
    padding: 5px;
    width: 500;
}






/* Easy Slider *************************************************** */
#slider3 ul, #slider3 li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#slider3 {
    margin-top: 1em;
}

    #slider3 li {
        /* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/
        width: 180px;
        height: 100px;
        overflow: hidden;
        line-height: 90%;
    }

/* controls buttons*/

ol#controls {
    font: 8px "Courier New", Courier, monospace;
    margin: 1em 0;
    padding: 0;
    height: 10px;
}

    ol#controls li {
        margin: 0 3px 0 0;
        padding: 0;
        float: left;
        list-style: none;
        height: 10px;
        /*	line-height:28px;*/
    }

        ol#controls li a {
            float: left;
            height: 10px;
            line-height: 12px;
            border: 1px solid #ccc;
            background: #DAF3F8;
            color: #555;
            padding: 0 3px;
            text-decoration: none;
        }

        ol#controls li.current a {
            background: #5DC9E1;
            color: #fff;
        }

        ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus {
            outline: none;
        }

/* Easy Slider end *************************************************** */


.pointer {
    cursor: pointer;
}


/*.panel {
    padding-left: 25px;
}*/

/*.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

    .switch input {
        display: none;
    }

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }

input:checked + .slider {
    background-color: #66bb6a;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }*/

 



