.CollapseContainer {
      width:100%;
 /* border:1px solid #d3d3d3;*/
}
.CollapseContainer div {
   /* width:100%;*/
}
.CollapseContainer .CollapseHeader {
  /*  background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;*/
       cursor: pointer;
}
.CollapseContainer .CollapseContent {
    display: none;
   /* padding : 5px;*/
}